* {
  margin: 0;
  padding: 0;
  /*border: 1px solid grey;*/
}

body {
  background-color: #f1f1f1;
  width: 100%;

}

 header {
   width: 100%;
 }

nav {
  width: 100%;
  height: 10%;
  background-color: white;
  border-bottom: lightgrey;
  margin: 0;
  padding-bottom: 3%;
  padding-top: -1%;
}

nav img {
  margin: 2%;
  display: inline;
  height: 48px;
  width: 84px;
}

form {
  clear: both;
  position: relative;
  display: inline;
  left: 10%;
  top: -40px;
  margin-top: 2%;
}

nav ul {
  float: right;
  margin: 3% 4%;
  width: 20%;
  padding: 0;
}

li {
  display: inline;
  margin-right: 17%;
  margin-top: 40%;
}

i {
  color: grey;
}

/*****MAIN VIDEO SECTION*****/

.main-video {
  width: 100%;
  background-color: black;
}

iframe {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  display: flex;
}

/*****MAIN VIDEO INFO SECTION*****/

.wrapper {
  background-color: #f1f1f1;
  overflow: auto;
  font-family: sans-serif;

}

.video-info, .addl-info {
  width: 56%;
  padding: 2%;
  box-shadow: 1px 1px 1px #888888;
  overflow: auto;
  margin-left: 2%;
  margin-top: 2%;
  background-color: white;
}

  .video-info p {
    font-size: 1.5em;
    margin-left: 2%;
  }

.headshot-info {
  width: 35%;
  padding: 2%;
  padding-bottom: 4%;
}

    .headshot-info p, img {
      float: left;
    }

    .headshot-info p {
      font-size: 1em;
    }

.subscribe {
  margin: 5%;
}


.addl-info p {
  font-size: .8em;
}


/******COMMENTS******/
.comments {
  width: 56%;
  padding: 2%;
  box-shadow: 1px 1px 1px #888888;
  overflow: auto;
  margin-left: 2%;
  margin-top: 2%;
  background-color: white;
}
